/* Lissitzky "Proun" CSS HEX */

/* CSS HEX PROUN classic */
--valencia: #d83539;
--outer-space: #1f302e;
--westar: #e0ddd4;
--old-rose: #c88a7c;
--chestnut-rose: #cb715a;
--tumbleweed: #e1ae8d;
--cadet-blue: #a1b6c2;
--cameo: #e0bba4;
--sirocco: #6c8484;


/* CSS HEX PROUN.1D gray */
--shark: #1e1e1f;
--quill-gray: #d5d6d4;
--concord: #7f7a77;
--zorba: #9d9892;
--dorado: #635c59;
--delta: #a9a9a8;
--dawn: #a6a49a;
--cement: #857261;
--cutty-sark: #50646c;


/* CSS HEX PROUN cherokee */
--cherokee: #fbdaa0;
--abbey: #4b4b4e;
--thunderbird: #c32814;
--oslo-gray: #88898e;
--teak: #b58867;
--silver-sand: #b0b3b4;
--wafer: #e4d6d2;
--santa-fe: #b27047;
--juniper: #7c9490;


/* CSS HEX PROUN fall-green */
--log-cabin: #1d291b;
--fall-green: #ebedbc;
--gimblet: #b3bf78;
--norway: #9bb295;
--desert-storm: #f2f2f0;
--mule-fawn: #885a2e;
--asparagus: #83944f;
--laurel: #6a9676;
--gray-olive: #acac92;


/* BAUHAUS CSS HEX */

/* CSS HEX tamarillio - Anni Alberg */
--cognac: #ad3b1e;
--gold-sand: #e7bb7d;
--zeus: #2f2b22;
--tussock: #c99055;
--ship-cove: #6b8bb2;
--nutmeg: #713325;
--flame-pea: #de5b3c;
--coral-tree: #aa6664;
--tamarillo: #8f1316;


/* CSS HEX careys-pink - Gunta Stölzl '369' */
--chalet-green: #44683c;
--violet-red: #f23f9c;
--wild-rice: #e7ea83;
--careys-pink: #d7a4b1;
--luxor-gold: #917f2c;
--hopbush: #d47aae;
--au-chico: #935a6a;
--lavender-magenta: #e973d4;
--mantis: #6bbc5c;



